{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body background="{% static "flitterMainApp/images/homeBg.png" %}">
    <br><br><center>
    <div class="jumbotron">
        <img src="{% static "flitterMainApp/images/flitterBannerForHome.png" %}" class="img" alt="logo">
    </div>
    <div class="container">
        <div class="jumbotron">
            <h2>Enter your status update here:</h2>
            <br>
            <form method="post" action="{% url 'flitterMainApp:saveStatusUpdate' %}">
                {% csrf_token %}
                {{ statusUpdateForm }}
                <br><br>
                <button class="btn btn-success" type="submit">Post</button>
            </form>
        </div>
    </div>
    </center>
</body>
</html>
